.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Balthazar);

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}

html,
body {
    background-image: url(./assets/trainBackground.png);
    background-size: cover;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translate(-40%, 30%);
        -ms-transform: translate(-40%, 30%);
            transform: translate(-40%, 30%);
    align-items: center;
    width: 700px;
}

.p1Div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    background-color: #f8f8f8;
    height: 470px;
    margin: auto;
}

.p1Header,
.p2Header {
    margin: auto;
    margin-top: 50px;
    width: 167px;
    height: 53px;
    text-align: center;
    color: #444444;
}


.p1Score,
.p2Score {
    margin: auto;
    font-size: 75px;
    color: #444444;
    position: relative;
    -webkit-transform: translate(0%, -13%);
        -ms-transform: translate(0%, -13%);
            transform: translate(0%, -13%);
}

.p1TempScore,
.p2TempScore {
    font-family: 'Balthazar', serif;
    font-size: 1rem;
    text-align: center;
    color: #444444;
    font-weight: 100;
}

.p1TempScoreNo,
.p2TempScoreNo {
    position: relative;
    margin: auto;
    font-family: 'Balthazar', serif;
    font-size: 40px;
    color: #444444;
    margin-bottom: 12px;
}

.p1TempScoreDiv,
.p2TempScoreDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
    font-weight: 100;
    margin: auto;
    font-family: 'Balthazar', serif;
    text-align: center;
    color: #444444;
    width: 115px;
    height: 77px;
    background-color: #ffe396;
    margin-bottom: 4rem;
}

.p2Div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    background-color: #d8d8d8;
    height: 470px;
}

.middleSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    right: 50%;
    -webkit-transform: translate(0,-13%);
        -ms-transform: translate(0,-13%);
            transform: translate(0,-13%);
}

.instructions {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 600px;
            flex: 1 1 600px;
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-family: 'Balthazar', sans-serif;
    font-size: .80rem;
    color: #444444;
    text-align: center;
    -webkit-transform:translate(1.5%,330%);
        -ms-transform:translate(1.5%,330%);
            transform:translate(1.5%,330%);   
}

.keepBtn {
    cursor: pointer;
    outline: none;
    position: relative;
    -webkit-transform: translate(0%, 370%);
        -ms-transform: translate(0%, 370%);
            transform: translate(0%, 370%);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    width: 82px;
    height: 26px;
    background: none;
}

.currentPlayer {
    display:none;
    position: relative;
    left: 10%;
    -webkit-transform:translate(0, -30%);
        -ms-transform:translate(0, -30%);
            transform:translate(0, -30%);
    background-color: #82c836;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: rgb(253, 253, 253);
    font-size: 0.65rem;
    padding-top: .1rem;
    font-weight: 100;
}

.keepBtn button {
    color: rgb(253, 253, 253);
    border-radius: 9px;
    background-color: #82c836;
}

.diceJS {
    width: 94px;
    height: 90px;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.newGameBtn{
    position: relative;
    -webkit-transform: translate(0%, -425%);
        -ms-transform: translate(0%, -425%);
            transform: translate(0%, -425%);
}
.newGameBtn img{
    height: .75rem;
    -webkit-transform: translate(-25%,15%);
        -ms-transform: translate(-25%,15%);
            transform: translate(-25%,15%);
}

.rollBtn { 
    position:relative;
    -webkit-transform: translate(0%, 405%);
        -ms-transform: translate(0%, 405%);
            transform: translate(0%, 405%);
}
.rollBtn img {
    height: .75rem;
    -webkit-transform: translate(-25%, 15%);
        -ms-transform: translate(-25%, 15%);
            transform: translate(-25%, 15%);
}

.activeJS{
    display:inline-block;
}